<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>









 <ion-content>
  <ion-label></ion-label>
  <ion-datetime displayFormat="YYYY/M/D  HH:mm " pickerFormat="YYYY MM D HH:mm +01:00" [(ngModel)]="myDate"></ion-datetime>
  <p style="text-align:center">Please sign into your account:</p>
  <ion-row>
    <ion-col>
  <ion-input placeholder="Username:"  type="text" style="text-align: center" [(ngModel)]="username" > </ion-input>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
  <ion-input placeholder="Password:" type="password" style="text-align: center" [(ngModel)]="password" ></ion-input>
</ion-col>
</ion-row>
  
      
  <ion-button *ngIf="ADMIN_REQUEST" class="ion-pad-ding" expand="block" (click)="loginAdmin()" size="large">Log In</ion-button>
  <ion-button *ngIf="!ADMIN_REQUEST" class="ion-pad-ding" expand="block" (click)="loginwithfire()" size="large">Log In</ion-button>
  
</ion-content> 
